
* {
	box-sizing:border-box;
	margin:0;
}


#body-1 {
	background:#e8e0d8;
}
#body-2 {
	background:#f6f2ef;
}


#header-images {
	width:100%;
	height:250px;
}


#title-1, #title-2 {
	font-size:50px;
	text-align:center;
	margin-top:20px;
	margin-bottom:15px;
	color:#fff;
	cursor:default;
}
#title-1 {
	text-shadow: 0 0 20px #ff1aff, 0 0 20px #ff1aff;
}
#title-2 {
	text-shadow: 0 0 20px #00ace6, 0 0 20px #00e6e6;
}


button {
	position:absolute;
	top:270px;
	left:30px;
	font-size:20px;
	padding:5px 10px;
	border-radius:5px;
}
#back-button-1, #back-button-2:hover {
	cursor:pointer;
}
#back-button-1 {
	background:#fff;
	color:#999;			
	border:2px solid #ccc;
}
#back-button-1:hover {
	box-shadow: 0 0 20px #ffff00, 0 0 20px #ffff00;
	border:2px solid #ffff00;
	color:#00ff00;
}
#back-button-2 {
	background:#fff;
	color:#999;			
	border:2px solid #ccc;
}
#back-button-2:hover {
	box-shadow: 0 0 20px #ff80ff, 0 0 20px #ff80ff;
	border:2px solid #ff80ff;
	color:#809fff;
}


#list-container {
	height:calc(100vh - 420px);
	display:flex;
	flex-direction:column;
	justify-content:center;
}
ul {
	text-align:center;
	margin-bottom:20px;
	cursor:default;
	width:96%;
}
li {
	font-size:26px;
	list-style:none;
}
.list-1 {
	color:#8c1aff;
}
.list-2 {
	color:#00e673;
}


#footer-1 {
	width:100%;
	height:75px;
	background-image:linear-gradient(#e8e0d8, #ffb3ff);
}
#footer-2 {
	width:100%;
	height:75px;
	background-image:linear-gradient(#f6f2ef, #b3ffff);
}

