body {
	background:#e8e0d8;
}

h1 {
	color:#fff;
	text-shadow: 0 0 20px #ff1aff, 0 0 20px #ff1aff;
}

button {
	background:#fff;
	color:#999;			
	border:2px solid #ccc;
}
button:hover {
	box-shadow: 0 0 20px #ffff00, 0 0 20px #ffff00;
	border:2px solid #ffff00;
	color:#00ff00;
}

li {
	color:#8c1aff;
}

#footer {
	background-image:linear-gradient(#e8e0d8, #ffb3ff);
}
