
button:hover {
	box-shadow: 0 0 20px #a2aebb, 0 0 20px #a2aebb;
	border:2px solid #a2aebb;
	color:#0e6ba8;
}

li {
	list-style:none;
}

#footer {
	background-image: linear-gradient(#cbcbcb, #8bc4f4);
}

