
* {
	box-sizing:border-box;
	margin:0;
}

body {
	margin-bottom:50px;
}

.header-image {
	height:250px;
	width:100%;
}

#title {
	font-family:'Architects Daughter', sans-serif;
	position:fixed;
	width:70%;
	left:15%;
	color:#211913;
	line-height:160px;
	height:175px;
	font-size:100px;
	text-align:center;
	box-shadow: 0 4px 2px -2px #ccc;
	z-index:1;
	text-shadow:1px 1px 4px #f18e94;
}

#back-image {
	position:fixed;
	height:100vh;
	width:100vw;
}

#buttons {
	position:fixed;
	width:70%;
	height:100vh;
	background:#fceffd;
	bottom:0;
	left:15%;
	border-left:2px solid #000;
	border-right:2px solid #000;
}

.button {
	background-image: linear-gradient(to right, #e87e38, #F1CB77, #608F50);
	background:#fffffa;
	position:absolute;
	color:#f18e94;
	width:150px;
	border:2px solid #211913;
	padding:5px;
	font-size:24px;
	border-radius:5px;
}

.button:hover {
	background:#f9d2d4;
	color:#fffffa;
	cursor:pointer;
	padding:7px;
	width:154px;
	top:28px;
	left:-2px;
}

.row-1 {
	top:275px;
}
.row-2 {
	top:400px;
}
.row-3 {
	top:525px;
}
.row-4 {
	top:650px;
}
.row-5 {
	top:775px;
}

.column-1 {
	left:calc(26% - 75px);
}
.column-2 {
	left:calc(42% - 75px);
}
.column-3 {
	left:calc(58% - 75px);
}
.column-4 {
	left:calc(74% - 75px);
}

.row-1:hover {
	top:273px;
}
.row-2:hover {
	top:398px;
}
.row-3:hover {
	top:523px;
}
.row-4:hover {
	top:648px;
}
.row-5:hover {
	top:773px;
}

.column-1:hover {
	left:calc(26% - 77px)
}
.column-2:hover {
	left:calc(42% - 77px);
}
.column-3:hover {
	left:calc(58% - 77px);
}
.column-4:hover {
	left:calc(74% - 77px);
}

