
* {
	box-sizing:border-box;
	margin:0;
}

body {
	background:#ebe3e0;
}

img {
	width:100%;
	height:250px;
}

h1 {
	font-size:50px;
	text-align:center;
	margin-top:20px;
	margin-bottom:15px;
	text-shadow: 0 0 20px #2bc96a, 0 0 20px #2bc96a;
	color:#fff;
	cursor:default;
}

button {
	position:absolute;
	top:270px;
	left:30px;
	font-size:20px;
	padding:5px 10px;
	background:#fff;
	color:#c93b2b;			
	border:2px solid #c93b2b;
	border-radius:5px;
}

button:hover {
	box-shadow: 0 0 20px #c98a2b, 0 0 20px #c98a2b;
	border:2px solid #c98a2b;
	color:#e600e6;
	cursor:pointer;
}

#list-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
}

ul {
	text-align:center;
	margin-bottom:20px;
	cursor:default;
}

li {
	color:#2b8bc9;
	font-size:26px;
	list-style:none;
}

#footer {
	width:100%;
	height:75px;
	background-image: linear-gradient(#ebe3e0, #abedc5);
}

