
button:hover {
	box-shadow: 0 0 20px #c98a2b, 0 0 20px #c98a2b;
	border:2px solid #c98a2b;
	color:#e600e6;
}

li {
	color:#2b8bc9;
}

#footer {
	background-image: linear-gradient(#ebe3e0, #abedc5);
}

